/**
	名称：public.css
	作用：公共CSS样式
	         对一些属性做初始化，使其保持一致
	         自定义的选择器
	范围：适用于整个网站
*/

/*使下列标签的外边距、内边距都为0px*/
*,html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,form,img,input,hr{
	margin:0px;		/*清除外间距*/
	padding:0px;		/*清除内间距*/
}

body{
	font-size:13px;			
	background:#F3F3F3;	
	text-align:center;	/*设置body标签文本居中显示*/
}

h1,h2,h3,h4,h5,h6{
	font-size:18px;
}
div{
	text-align:left;		/*设置div标签默认文本居左显示*/
}

ul{
	list-style-type:none;	/*清除ul标签自带的样式*/
	text-align:left;		/*设置文本居左显示*/
}

img{
	border:0px;		/*清除img标签的边框*/
}

a, a:link, a:visited, a:hover, a:active {
	color: #0D80B5;
	cursor: pointer;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-size:20px;
}

.cleaner{
	clear:both;
}



.FR{
	float:right;
}
.FL{
	float:left;
}
.cleaner{
	clear:both;
}

/* 文本框 24px*/
.inp24{
	width:180px;
	height:24px;
	border:0px;
}

/* 文本框 30px*/
.inp30{	
	width:200px;
	height:30px;
	line-height:30px;	
	font-size:15px;
	border-radius: 15px 0px 0px 15px;
	border:#cccccc 1px solid;	
	/*margin:25px 0px 0px 0px;*/
	margin:0px;
}

.inpb30{
	width:270px;
	height:30px;
	border:1px solid #D9D9D9;
}

.but30{
	height:30px;	
	width:60px;
	border:0px;
	background:#A8D23E;
	border-radius:5px;
}

.but25{
	height:20px;	
	width:50px;
	border:0px;
	margin-left:5px;
	border-radius:5px;	
}

.but26{
	background:#0F91CF;
	width:56px;
	height:26px;
	border:0px;
	/* 半径 */
	border-radius:5px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
}

.wrap{
	width:980px;		/*页面宽度*/
	height:auto;		/*页面高度*/
	margin:0px auto;	/*于body中text-align:center一起做页面居中*/
	overflow:hidden;	/*兼容性处理*/
}

.div10{
	width:auto;
	height:10px;
	overflow:hidden;
}