#footer{
	width:980px;
	min-height:50px;
	margin:0 auto;
    text-align:center;
}
#footer span{
	font-size:12px;
	color:#909090;
}
#footer a{
	color:#992222;
	text-decoration:none;
}
#footer .footer_left{
	float:center;
}
#footer .footer_right{
	float:right;
}